<div class="bngApp" style="display: flex; flex-flow: column; height: 100%;">
	<!-- <p style="font-size:20px">Road Grip Editor</p> -->
	<!-- Help for setting up flexbox CSS https://stackoverflow.com/a/24979148 -->
	
	<div style="flex: 0 1 auto;">
		<table>
			<tr>
				<td>
				<h3>
					<md-select style="margin: 0px; color:black; background:white;" ng-model="selectedSurface" ng-change="changedSelectedSurface()">
						<md-option ng-value="opt.surface" ng-repeat="opt in surfaces">{{opt.txt}}</md-option>
					</md-select>
				</h3>
				</td>

				<td>
					<md-button style="color: white; background-color: #90a4ae" flex style="margin: 2px; min-width: 198px" md-no-ink class="md-raised"
					ng-click="pickSurfaceFromWorld()">Get Surface
					<md-tooltip>Select surface vehicle is on.</md-tooltip>
					</md-button>
				</td>
			</tr>
		</table>
	</div>
	
	<div style="flex: 1 1 auto; overflow:auto;">
		<table>
			<tr ng-repeat="item in parameters">
				<td>
					{{item.name}}
				</td>
				<td>
					<input max="{{item.max}}" min="{{item.min}}" step="{{item.inc}}" type="number" ng-model="item.val" ng-change="changedInput(0)">
					<md-tooltip style="margin: 0px; background:white;">Full range = ({{item.min}} ~ {{item.max}})</md-tooltip>
				</td>
			</tr>
		</table>
	</div>
	
	<div style="flex: 0 1 auto;">
		<table>
			<tr>
				<td>
					<md-button style="color: white; background-color: #ff6600" flex style="margin: 2px; min-width: 198px" md-no-ink class="md-raised"
					ng-click="applyChanges()">Apply Changes
					<md-tooltip>{{apply_button_enabled ? "Applies selected surface parameter values." : "CANNOT APPLY CHANGES SINCE THERE ARE DUPLICATE PARAMETERS SELECTED."}}</md-tooltip>
					</md-button>
				</td>

				<td>
					<md-button style="color: white; background-color: #ff6600" flex style="margin: 2px; min-width: 198px" md-no-ink class="md-raised"
					ng-click="resetCurrentSurfaceGrip()">Reset to Default
					<md-tooltip>Resets current surface to default settings.</md-tooltip>
					</md-button>
				</td>
			</tr>
			<tr>
				<td>
					<md-button style="color: white; background-color: #ff0000" flex style="margin: 2px; min-width: 198px" md-no-ink class="md-raised"
					ng-click="resetAllGrip()">Reset All to Default
					<md-tooltip>Resets all surfaces to default settings.</md-tooltip>
					</md-button>
				</td>
			</tr>
		</table>
	</div>
</div>